# extends 'base.html'

# block header
  <div class="jumbotron">
    <div class="container">
      <h1><img style="padding-bottom:5px;" src="/p/img/bitcoin.png"></img> {{config.CONFIG_DB.brand_name}}</h1>
      <p><i class="icon-user" ></i> Bitcoin Wallet for human beings</p>
    </div>
  </div>
# endblock

# block content
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <h2><i class="icon-lock"></i> Secure</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <h2><i class="icon-group"></i> Social</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
   </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <h2><i class="icon-globe"></i> Distributed</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-sm-6 col-md-12 col-lg-3">
      <h2><i class="icon-"></i> Mobile</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
# endblock
